<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workshop.name %>
</p>

<p>
  <b>Place:</b>
  <%= @workshop.place %>
</p>

<p>
  <b>Description:</b>
  <%= @workshop.description %>
</p>


<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
